.react-markdown p,
.react-markdown h1,
.react-markdown h2,
.react-markdown h3,
.react-markdown h4,
.react-markdown h5,
.react-markdown h6,
.react-markdown li,
.react-markdown ol,
.react-markdown ul,
.react-markdown blockquote,
.react-markdown pre {
  font-family: "Roboto Slab", serif;
  color: #35393f;
  margin: 1rem;
}

.react-markdown-dark h1,
.react-markdown-dark h2,
.react-markdown-dark h3,
.react-markdown-dark h4,
.react-markdown-dark h5,
.react-markdown-dark h6,
.react-markdown-dark blockquote,
.react-markdown-dark pre {
  color: #ffffff;
}

.react-markdown-dark p,
.react-markdown-dark li,
.react-markdown-dark ol,
.react-markdown-dark ul {
  color: #c1c4cb;
}

.react-markdown:last-child {
  margin-bottom: 5rem;
}

.react-markdown h1 {
  font-size: 32px;
  font-weight: 700;
}

.react-markdown h2 {
  font-size: 28px;
  font-weight: 300;
}

.react-markdown h3 {
  font-size: 24px;
  font-weight: 700;
}

.react-markdown h4 {
  font-size: 20px;
  font-weight: 700;
}

.react-markdown h5 {
  font-size: 16px;
  font-weight: 700;
}

.react-markdown h6 {
  font-size: 14px;
  font-weight: 700;
  color: #e46643;
}

.react-markdown p,
.react-markdown li {
  font-size: 14px;
  line-height: 24px;
  color: #7c8187;
}

.react-markdown a {
  text-decoration: underline 1px #35393f;
}

.react-markdown ol {
  list-style: decimal;
  margin-left: 1.5em;
}

.react-markdown ul {
  list-style: disc;
  margin-left: 1.5em;
}

.react-markdown ul li::marker {
  color: #e46643;
  font-size: 12px;
}

.react-markdown blockquote {
  background: #f5f5f5;
  border-left: 4px solid #e46643;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: 1rem;
}

.react-markdown blockquote p {
  color: #35393f;
  font-weight: 700;
}

.react-markdown-dark blockquote {
  background: #2b2d31;
}

.react-markdown-dark blockquote p {
  color: #ffffff;
}

.react-markdown pre {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 1em;
  font-size: 14px;
  font-weight: 400;
}

.react-markdown-dark pre {
  background: #2b2d31;
  color: #ffffff;
}
